body, html{
    background-image: url("./images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 98%);
    background-repeat: no-repeat;
    background-size: auto;
    /* overflow: hidden; */
}
.card {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 33vw;
    border-radius: 16px;
    margin: auto;
}
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
    padding: 0 12%;
}
.top-img {
width: 100%;
border-radius: 16px 16px 0 0;
}
.text-light{
    color: gray;
}
.summary{
    text-align: center;
    letter-spacing: 0.1rem;
}
.rate {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: hsl(225, 100%, 94%);
    border-radius: 8px;
}
.rate-2{
    display: flex;
    justify-content: flex-start;
}

.rate h4, .rate p{
    margin: 0;
}
.plan{
    margin-left: 8px;
}

.chng{
    text-decoration: underline;
    cursor: pointer;
}
.chng:hover{
    text-decoration: none;
    font-weight: 800;
}
.payment{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.btn{
    margin: 5px 0;
    padding: 0.8rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-payment{
    background:hsl(245, 75%, 52%);
    color: #fff;
}
.btn-payment:hover{
    opacity: 0.7;
}
.btn-cancel{
    background: none;
}
.btn-cancel:hover{
    color: #000 !important;
    font-weight: 600;
}